<p style="color: green"><%= notice %></p>

<h1 class="posts_title">Posts</h1>

<div class="post_preview" id="posts">
  <% @posts.each do |post| %>
    <div class="post_block">
      <%= render post %>
      <p>
        <%= link_to "Show this post", post %>
      </p>
    </div>
  <% end %>

 
   
</div>

<%= link_to "New post", new_post_path %>
