/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*{
    margin: 0px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    padding: 0.5rem;
    font-family: Arial, sans-serif, Helvetica;
    padding-left: 1rem;
    padding-right: 1rem;
}
 .nav_wrapper {
    /* background-color: pink; */
    margin:auto;
    width: 22%;
    position: relative;
    top: 25%;
}
nav {
    background-color: rgb(71, 17, 218);
    width: 100%;
    height:3.2rem;
    padding: 1rem;

}
.post_preview {
    width: 33%;
    margin: auto;
    text-align: center;

}

.post_block {
    padding:1.5rem;
}

.posts_title {
    /* background-color: green; */
    margin: auto;
    width: 50%;
    text-align: center;
    padding:1.5rem;
}
.post-page {
    /* background-color: pink; */
    padding: 1.5rem;
    width: 60%;
    margin: auto;
    text-align: center;
}